<div class="mainbody container-fluid" *ngIf="user">
  <div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div align="center">
              <img class="thumbnail img-responsive" src={{api}}{{user.img_url}} width="300px" height="300px">
            </div>
            <div align="center">
              <input *ngIf="showInput" type="file" name="myPicture" id="myPicture"/>
              <br>
              <button *ngIf="!showInput" class="btn-primary" (click)="changePic()">change picture</button>
              <button *ngIf="showInput" class="btn-primary" (click)="upload()">Upload</button>
            </div>
            <div class="media-body">
              <hr>
              <h3><strong>Bio</strong></h3>
              <p>{{user.bio_description}}</p>
              <hr>
              <h3><strong>user name:</strong></h3>
              <p>{{user.user_name}}</p>
              <hr>
              <h3><strong>Gender</strong></h3>
              <p>{{user.gender}}</p>
              <hr>
              <h3><strong>Birthday</strong></h3>
              <p>{{user.birthday | amDateFormat:'LL'}}
              <hr>
              <h3><strong>Number of followers</strong></h3>
              <p>{{user.followers.length}}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
            <span>
                <div class="panel-title pull-left" style="font-size:24px;">
                  <div><strong>First name:</strong> {{user.first_name}} </div>
                  <div><strong>Last name:</strong>{{user.last_name}}</div>
                  <div><strong>Email:</strong> {{user.email}}</div>
                </div>
              <!-- Trigger the modal with a button -->
              <div class="dropdown pull-right">
                <div *ngIf="!auth.checkLogoedInUser(user.user_name)" >
              <button *ngIf="!follow" class="btn btn-success" type="button" id="dropdownMenu1" aria-haspopup="true" (click)="addFollow()">
              Follow
              </button>
                  <button *ngIf="follow" class="btn btn-success" type="button" id="dropdownMenu2" aria-haspopup="true">
              UnFollow
              </button>
                  </div>
                <button *ngIf="auth.checkLogoedInUser(user.user_name)" type="button" class="btn btn-info btn-lg" (click)="edit=true;">Edit</button>
              </div>
            </span>
        </div>
      </div>
      <hr>
      <div *ngIf="!edit">
        <div class="panel panel-default" *ngFor="let post of myPosts">
          <div class="panel-body">
            <app-post [thisPost]= post></app-post>
          </div>
        </div>
      </div>
      <!-- here will insert the post compnents. -->

      <!--<button type="button" class="btn btn-info btn-lg" (click)="edit=true;">Edit</button>-->
      <div *ngIf="edit">
          <app-register (updt)="ischildUpdate($event)" [edit]=true [firstName]="user.first_name" [lastName]="user.last_name"
                        [userName]="user.user_name" [email]="user.email" [birthDate]="user.birthday | date:'yyyy-MM-dd'"
                        [gender]="user.gender" [self_description]="user.self_description">
                      </app-register>
    </div>

  </div>
</div>
</div>
