<div class="jumbotron text-center">
  <h1>RecipeMe</h1>
  <p class="lead">"Welcome to RecipeMe,Post and share you cooking skills"</p>
  <div *ngIf="!auth.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
    <div *ngIf="auth.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/newPost']">Add new post</a>
  </div>
</div>
<div id="content">
  <div style="width: 50%; float:left">
    <!--#left content in here-->
    <h3  class="frame" align="center">popularity list: most liked recipes</h3>
    <div class="panel panel-default" *ngFor="let post of mostLikedRecipes">
      <div class="panel-body">
        <app-post [thisPost]= post></app-post>
      </div>
    </div>
  </div>

  <div style="width: 50%; float:right">
    <!--#right content in there-->
    <h3 class="frame" align="center">popularity list: most liked users</h3>
    <app-user-resault *ngFor="let user of mostLikeUsers" [user]='user'> </app-user-resault>

  </div>
</div>
<!--<div class="row">-->
  <!--<div class="col-md-4">-->
    <!--<h3>Express Backend</h3>-->
    <!--<p>A rock solid Node.js/Express server using Mongoose</p>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<h3>Angular CLI</h3>-->
    <!--<p>Angular-CLI to generate componentns,services and more</p>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<h3>JWT Tokens</h3>-->
    <!--<p>Full featured authentication usin JSOM web tokens. Login and store user data</p>-->
  <!--</div>-->
<!--</div>-->
