<div class="jumbotron text-center">
  <h1>RecipeMe</h1>
  <p class="lead">"Welcome to RecipeMe,Post and share you cooking skills"</p>
  <div *ngIf="!auth.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
  <div *ngIf="auth.loggedIn()">
    <a class="btn btn-primary" [routerLink]="['/newPost']">Add new post</a>
  </div>
</div>
<div id="content">
  <div style="width: 50%; float:left">
    <!--#left content in here-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" align="center">popularity list: most liked recipes</h3>
      </div>

      <div class="panel-body">
        <div class="panel panel-default" *ngFor="let post of mostLikedRecipes">
          <div class="panel-body">
            <app-post [thisPost]=post></app-post>
          </div>
        </div>
      </div>
    </div>
    <!--<h3  class="frame" align="center">popularity list: most liked recipes</h3>-->

  </div>

  <div style="width: 50%; float:right">
    <!--#right content in there-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" align="center">popularity list: most liked users</h3>
      </div>
      <div class="panel-body">
        <app-user-resault *ngFor="let user of mostLikeUsers" [user]='user'></app-user-resault>
      </div>
    </div>
  </div>
</div>

