.description{
    width: 60%;
    height: 60px;
}
.rmv{
    padding: 2px;
    border: 1px solid black;
}
step_des{
    width: 60px;
    height: 70px;
}

.buttuns{
    width:150px;
    border:1px solid black;
}
