<div class="container">
    <h1>Add New Recipe </h1>
    <form class="form-inline">
      <div class="container">
        <div class="row" style="padding: 10px;">
          <div class="col-md-6 form-group">
              <label>Title:</label>
              <input type="text" class="form-control" id="title">
          </div>
          <div class="col-md-6 form-group">
              <label for="titleImage">title Image: </label>
              <input type="file" class="form-control" id="mainImage">
          </div>
          
        </div>
        <div class="row" style="padding:20px">
          <div id="des" class="col-md-12 form-group center-block">
            <h5 ><strong>Description:</strong></h5>
            <textarea id="description" ></textarea>
          </div>
        </div>
        <hr>
        <div  class="row" style="padding:20px">
          <div class="col-md-12 form-group" *ngFor="let ing of ingridients">
            <label>Name:</label>
            <input type="text" [(ngModel)]="ing.name" name="ing.name" >
            <label>Amount:</label>
            <input type="number" [(ngModel)]="ing.amount" name="ing.amount">
            <select>
              <option value="gr">gr</option>
              <option value="Cup">Cup</option>
              <option value="Spoon">Spoon</option>
              <option value="Teaspoon">Teaspoon</option>
          </select>
            <button id="rmv" class="btn ">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <button type="button" class="btn btn-primary buttuns" (click)="AddIngridient()">Add Inngridient</button>
        </div>
        <hr>
        <div  class="row" style="padding:20px">
          <div class="col-md-12 form-group" *ngFor="let st of steps" style="padding:3px">
            <h5>Step {{st.stepNumber}}:</h5>
            <textarea id="description" name="st.description" [(ngModel)]="st.description" >
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <button type="button" class="btn btn-primary buttuns" (click)="AddStep()">Add Step</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4" *ngFor="let img of images">
              <input type="file" id = "{{imageId[getimageID(img)]}}" style="padding:2px;" />
            </div>
        </div>
        <div class="row" style="padding-top:20px">
          <div class="col-md-1"></div>
            <button id="addPhothobtn" type="button" class="btn btn-primary buttuns" (click)="addPhoto()">Add Photo</button>
        </div>
        <div style="padding:20px" class="row">
          <button type="submit" class="btn btn-success" (click)="publishPost()">Submit</button>
        </div>
      </div>
    </form>
</div>
