<div class="container">
    <h1>Add New Recipe </h1>
    <form class="form-inline">
      <div class="container">
        <div class="row" style="padding: 10px;">
          <div class="col-md-6 form-group">
              <label>Title:</label>
              <input type="text" class="form-control" id="title" name="recipe_title" [(ngModel)]="recipe_title" >
          </div>
          <div class="col-md-6 form-group">
              <label for="titleImage">title Image: </label>
              <input type="file" class="form-control" id="mainImage">
          </div>

        </div>
        <div class="row" style="padding:20px">
          <div id="des" class="col-md-12 form-group center-block">
            <h5 ><strong>Description:</strong></h5>
            <textarea class="description" name="description" [(ngModel)]="description" ></textarea>
          </div>
        </div>
        <hr>
        <div  class="row" style="padding:20px">
          <div class="col-md-12 form-group" *ngFor="let ing of ingridients; let index = index;"  style="padding:4px;">
            <label>Name:</label>
            <input type="text" class="form-control" [(ngModel)]="ingridients[index].name" name="ingridients[index].name" placeholder={{ingridients[index].name}}>
            <label>Amount:</label>
            <input type="number" class="form-control" [(ngModel)]="ingridients[index].amount" name="ingridients[index].amount" >
            <select>
              <option value="gr">gr</option>
              <option value="Cup">Cup</option>
              <option value="Spoon">Spoon</option>
              <option value="Teaspoon">Teaspoon</option>
          </select>
            <button class="btn rmv"  (click)="removeIng(ing)">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <button type="button" class="btn btn-primary buttuns" (click)="AddIngridient()">Add Inngridient</button>
        </div>
        <hr>
        <div  class="row" style="padding:20px">
          <div class="col-md-12 form-group" *ngFor="let st of steps; let index = index;"  style="padding:3px">
            <h5>Step {{steps[index].stepNumber}}:</h5>
            <textarea id="description" class="form-control" name="st.description" [(ngModel)]="steps[index].description" placeholder={{steps[index].description}} >
            </textarea>
            <button class="btn rmv" (click)="removeStep(st)">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <button type="button" class="btn btn-primary buttuns" (click)="AddStep()">Add Step</button>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6" *ngFor="let img of images" style="padding:4px;">
              <div class="col-md-6">
                <input type="file" class="form-control" id = "{{imageId[getimageID(img)]}}" style="padding:2px;" />
              </div>
              <div class="col-md-3" align="center" >
                <button id="rmv" class="btn " (click)="removeImg(img)">Remove</button>
              </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px">
          <div class="col-md-1"></div>
            <button id="addPhothobtn" type="button" class="btn btn-primary buttuns" (click)="addPhoto()">Add Photo</button>
        </div>
        <div style="padding:20px" class="row">
          <button type="submit" class="btn btn-success" (click)="publishPost()">Submit</button>
        </div>
      </div>
    </form>
</div>
