    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="border-right: 1px solid black;">RecipeMe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left" >
            <li><div style="height:10px; width:10px;"></div></li>
            <li>
              <div >

                <div style="height: 10px; width:40px;"></div>
                <select [(ngModel)]="selectedValue" >
                  <option value="user">user name</option>
                  <option value="title">recipe title</option>
                  <option value="text">free text</option>
                </select>
                <input type="text" [(ngModel)]="searchQuery" class="borer" placeholder="search in RecipeMe" >
              </div>
            </li>
            <li>
              <div style="height: 10px; width:40px;"></div>
              <button type="submit" (click)="search()" class="borer" ><span class="glyphicon glyphicon-search" id="searchbtn"></span></button>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf='auth.loggedIn()' [routerLinkActive]="['active']"><a ><strong>Connected as: {{getLoggedInUSer().user_name}}</strong></a></li>>
            <li *ngIf='auth.loggedIn()' [routerLinkActive]="['active']" [routerLink]="['/newPost']"><a><strong>Publish New Recipe</strong></a></li>>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
            <li *ngIf='!auth.loggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']">Login</a></li>
            <li *ngIf='!auth.loggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']">Register</a></li>
            <li *ngIf='auth.loggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" (click)="logOutClick()">Logout</a></li>
            <li *ngIf='auth.loggedIn()'  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile',getLoggedInUSer().user_name]" >Profile</a></li>


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
