<!-- Simple post content example. -->
<div class="panel panel-default" *ngIf="thisPost">
  <div class="panel-body">
        <div class="pull-left">
          <a href="#">
              <img class="media-object img-circle" src={{api}}{{thisPost.user_img}} width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
          </a>
        </div>
    <div *ngIf="edit" class="pull-right"><h5><a href="javascript:void(0)" (click)="delPost()">delete post</a></h5>  </div>
    <br><br>
    <div *ngIf="edit" class="pull-right"><h5><a href="javascript:void(0)" (click)="editPost()">edit post</a></h5>  </div>
    <h4><a href="#" [routerLink]="['/profile',thisPost.user_name]" style="text-decoration:none;"><strong>{{thisPost.first_name}} {{thisPost.last_name}}</strong></a> – <small><small><a  style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> {{thisPost.time | amCalendar}}</i></a></small></small></h4>
    <hr>
    <h3>{{thisPost.recipe_title}}</h3>
    <div style="margin-bottom:50px" >category : {{thisPost.category}}</div>

    <br>
    <div id="post-header" class="row" style="height:50px;">
        <div class="col-md-9" style="font-size:20px">
            {{thisPost.description}}
        </div>
        <div class="col-md-3" >
            <img src={{api}}{{this.thisPost.main_img}} id="Mainimg">
        </div>
    </div>
    <div class="row"  *ngIf="showPost">
          <hr>
        <div class="post-content">
            <h4><strong>Ingridients:</strong></h4>
            <br>
            <ul id="ingList">
                <li class="col-md-4" *ngFor="let ing of thisPost.ingredients">
                    {{ing.amount}}   <strong>{{ing.name}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" *ngIf="showPost">
        <br>
        <hr>
        <span style="font-size:1px"><strong>Steps</strong></span>
        <br>
        <div class="col-md-12" *ngFor="let step of thisPost.instructions">
            <p style="font-size: 20px">{{step.stepNumber}}:     {{step.description}}</p>
        </div>
        <app-image-slider *ngIf="thisPost.photos.length>0" [pics]=thisPost.photos></app-image-slider>
    </div>

    <div class="row">
        <div class="col-sm-12" >
        <a *ngIf="showPost" href="javascript:void(0)" (click)=hideContent() >hide post</a>
        <a *ngIf="!showPost" href="javascript:void(0)" (click)=showContent() style="padding :15px;" >read post</a>
    </div>
    </div>
    <div class="row">

    </div>


    <hr>
    <div>
        <div class="pull-right btn-group-xs">
            <a class="btn btn-default btn-xs" (click)="editLike()"><i id="like" class="fa fa-thumbs-up" aria-hidden="true"  ></i> {{thisPost["likes"].length}}</a>

          <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
        </div>
        <br>
    </div>
    <hr>
    <div *ngIf="showPost">
        <hr>
        <h4 align="center">Comments</h4>
        <div *ngFor="let comment of thisPost.comments"style="background-color:#dee1e5; padding:4px;">
            <a class="pull-right" href="javascript:void(0)" *ngIf="auth.checkLogoedInUser(comment.user_name)" (click)="removeComment(comment.comment_id)" >remove Comment </a>
            <app-comment  [thisComment]=comment></app-comment>
        </div>
        <hr>
    </div>
    <div style="display: inline">
            <p style="display:inline">Co-Authors: </p>
            <ul id="hList">
                <a *ngFor="let co of thisPost.co_author" [routerLink]="['/profile/',co.user_name]"> {{co.user_name}} </a><br />
            </ul>
    </div>
    <div class="media">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src={{api}}{{myImg}} width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
            </a>
        </div>
        <div class="media-body input-group">
            <textarea class="form-control" rows="1" [(ngModel)]="commentIn" placeholder="Comment" style="width:90%;"></textarea>
            <span class="input-group-btn">
                <button class="btn btn-primary" id="addCommentBtn" (click)="addComment()">Add</button>
            </span>
        </div>
    </div>
  </div>
</div>
