<div class="media">
    <div class="pull-left">
        <a href="#">
            <img class="media-object img-circle" src={{api}}{{thisComment.img_url}} width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
        </a>
    </div>
    <div style="margin-top:10px;">
        <div class="pull-left">
            <p> <strong>{{thisComment.first_name}} {{thisComment.last_name}}:</strong></p>
        </div>
        <div class="media-body" >
            <p style="margin-left:15px;">{{thisComment.content}}</p>
        </div>
    </div>
</div>
